
.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.button:hover {
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
}